.bgSerenity {
    background-color: #B3CEE5;
}
.flexbox1{
    display: flex;
    border: 1px solid black;
    height: 5vh;
    width: 90vh;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    background-color: antiquewhite;
    /*align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;*/
}

.flexbox2{
    display: flex;
    border: 1px solid black;
    height: 20vh;
    width: 90vh;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    background-color: antiquewhite;
}

.flexbox3{
    display: flex;
    border: 1px solid black;
    height: 20vh;
    width: 90vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}
.flexbox4{
    display: flex;
    border: 1px solid black;
    height: 5vh;
    width: 90vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

.flexbox5{
    display: flex;
    border: 1px solid black;
    height: 15vh;
    width: 90vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: antiquewhite;
}

.item{
    margin: 3px;
    /*background-color: lightblue;*/
    height: 100px;
    width: 100px;
}

#header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.project {
    margin: 1px;
    height:15vh;
    width: 20vh;
    background-color: azure;
}

.textName{
    margin: 10px;
    width: 45vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textContent{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    width: 45vh;
    background-color: azure;
}

